* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat-Thin 100', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    color: coral;
    padding-left: 8%;
    padding-right: 8%;
}

nav .logo {
    font-family: 'Pacifico', 'cursive';
    letter-spacing: 3px;
    font-size: larger;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}

nav ul li a {
    color: coral;
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li a:hover {
    color: rgb(255, 200, 200);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: coral;
    border-radius: 2px;
    transition: all 0.6s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}
/* Responsive Breakpoint */
@media screen and (max-width: 768px) {
    nav ul {
        width: 60%;
    }    
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: aqua;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width: 75%;
        transform: translateX(100%);
        transition: all 0.4s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }    
}

